.toolssection {
  background-color: #050805; /* dark background */
  color: #ffffff;
  padding: 60px 40px;
  font-family: sans-serif;
}

.tools-section h1 {
  font-size: 36px;
  margin-bottom: 40px;
}

.toolsgrid {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.toolcard {
  flex: 1;
  min-width: 250px;
}

.tool-icon {
  font-size: 32px;
  margin-bottom: 16px;
}

.tool-card h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  padding-bottom: 10px;
}

.tool-card p {
  font-size: 16px;
  margin-bottom: 12px;
}
.toolcarddesc {
  padding-bottom: 10px;
}
.toolcardlink {
  padding-top: 10px;
  color: #ffffff; /* or whatever color you want */
  text-decoration: none; /* remove underline if desired */
}
.tool-card a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}
